<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{title}} - Jamaica Observer Payment Portal</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" href="assets/img/favicon.png" rel="icon">
  {{!-- <link rel="icon" href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> --}}

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/vendor/sweetalert/sweetalert.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">GATEWAY</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/" class="active">Home</a></li>


          <li><a href="https://www.jamaicaobserver.com/" class="getstarted">Read the news</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Welcome to Payment Gateway</h2>
         {{!-- <a href="#">Log Out</a> --}}

        </div>

      </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Section ======= -->
    <section class="contact">
    {{{body}}}
    </section>
    <!-- End Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-4">
            <div class="footer-info">
              <h3>JOL GateWay</h3>
              <p>
                40 Beechwwod Ave <br>
                Kingston 5, Kinsgton<br><br>
                <strong>Phone:</strong> <br >+1 876 920 8136<br>+1 876 926 7655
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
              <div class="row footer-info py-3">
              <h6>Support</h6>
                <p>
                  <strong>Phone:</strong> <br/>+1 876 936 9415
                </p>
                <p>
                  <strong>Email:</strong> <br/> userhelp@jamaicaobserver.com
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.verisign.com/ssl/ssl-information-center/" target="_blank">About SSL Certificates</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.digicert.com/what-is-ssl-tls-https/" target="_blank">How SSL Secures You</a></li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6 footer-links">
             <h4>Useful Tips</h4>
            <ul>
              <li>This is a 3D Secure-enabled credit card payment system. Your card must be enrolled by your issuing bank to use it.</li>
              <li> Jamaican (JMD) &amp; US Dollars (USD) are accepted</li>
              <li>We do not store credit card details such as card numbers or CVV anywhere.</li>
              <li>Page has enabled the lastest TLS encryption for secure transmission of data.</li>
            </ul>
          </div>
          </div>

         

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Jamaica Observer Ltd.</span></strong>. All Rights Reserved
      </div>
      
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/sweetalert/sweetalert.min.js"></script>
  <script src="/assets/vendor/cleave/cleave-phone.i18n.js"></script>
  <script src="/assets/vendor/cleave/cleave.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>