<!-- Edit Modal -->
<div class="modal fade" id="editServiceModal" tabindex="-1" aria-labelledby="editServiceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editServiceModalLabel">Edit Service</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="editServiceForm" name="editServiceForm" role="form" method="POST" class="g-3 needs-validation" data-request-url="/admin/dashboard/updateservice">
        <div class="modal-body">
          <!-- Input fields for editing values -->
          <input type="hidden" class="form-control" id="serviceId" name="serviceId">

          <div class="mb-3">
            <label for="serviceCategory" class="form-label">Category</label>
            <select type="text" class="form-control" id="serviceCategory" name="serviceCategory">
                <option value="">Select a category</option>
              {{#each categories}}
                <option value="{{dataValues.categoryId}}">{{dataValues.name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="mb-3">
            <label for="serviceName" class="form-label">Service</label>
            <input type="text" class="form-control" id="serviceName" name="serviceName">
          </div>
          <div class="mb-3">
            <label for="serviceDesc" class="form-label">Description</label>
            <textarea class="form-control" id="serviceDesc" name="serviceDesc" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <div class="input-group d-flex">
              <select name="serviceCurrency" id="serviceCurrency" class="form-control w-10 me-1">
                <option value="" selected="true">Select Currency</option>
                <option value="JMD">JMD</option>
                <option value="USD">USD</option>
              </select>
            <input type="text" class="form-control flex-grow-1" id="servicePrice" name="servicePrice" placeholder="00.00">
            </div>
          </div>
          <div class="mb-3">
            <label for="serviceEpaperDays" class="form-label">EPAPER Days</label>
            <input type="number" class="form-control" id="serviceEpaperDays" name="serviceEpaperDays">
          </div>
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="serviceActive" name="serviceActive">
              <label class="form-check-label" for="serviceActive">
                Active
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="deleteServiceBtn">Delete</button>
          <button type="submit" class="btn btn-primary" id="updateServiceBtn">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
