<!-- Step 1: Introduction Page -->
<div class="container py-2">
  <div class="row justify-content-center">
    <div class="col-md-8">
   
      <form id="step1Form" class="php-email-form pb-5">
           <div class="text-center">
        {{!-- <h1>Welcome to [Company] Payment Gateway</h1> --}}
        <p class="lead">Please select the service you want to pay for:</p>
      </div>
        <div class="mb-3 py-5">
          <label for="serviceSelect" class="form-label">Select Service</label>
          <select class="form-select" id="serviceSelect" required>
            <option value="" disabled selected>Select Service</option>
            <option value="service1">EPAPER</option>
            <option value="service2">PRINT</option>
            <option value="service3">OTHER</option>
            <!-- Add more options as needed -->
          </select>
        </div>
        <div id="subcategories" class="mb-3 d-none">
          <label for="subcategorySelect" class="form-label">Select Subcategory</label>
          <select class="form-select" id="subcategorySelect" required>
            <option value="" disabled selected>Select Subcategory</option>
          </select>
        </div>
        <button type="button" class="btn btn-primary" onclick="nextStep()">Next</button>
      </form>
    </div>
  </div>
</div>

<!-- Step 2: Checkout Page -->
<div id="step2" class="container d-none">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="text-center mb-4">
        <p class="lead">Please enter your payment details:</p>
      </div>
      <form id="step2Form" class="php-email-form" action="/authenticate" name="paymentForm" role="form" method="post" class="form-horizontal">
        <!-- Billing Information Fields -->
      
    <div class="container">
      <div class="row">
       
          <div class="col-md-4 order-2">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-muted">Your Cart</span>
              <span class="badge rounded-pill bg-secondary">1</span>
            </h4>
            
              <li class="list-group-item d-flex justify-content-between lh-condensed pb-2">
                <div>
                  <h6 class="my-0">EPAPER</h6>
                  <small class="text-muted">2Yrs Subscription <br> Apr. 18 2024 to Apr. 17 2026</small>
                </div>
                <span class="text-muted">$280</span> <input type="hidden" name="TotalAmount" value="280.15">
              </li>
            
          
            <li class="list-group-item d-flex justify-content-between bg-light pb-2">
              <div class="text-success">
                <h6 class="my-0">Promo code</h6>
                <small>EXAMPLECODE</small>
              </div>
              <span class="text-success">-$5</span>
            </li>
            
            <div class="card-footer d-flex justify-content-between pb-2">
              <span>Total (USD)</span>
              <strong>$275</strong>
            </div>
            
            <form class="card p-2">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Promo code">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-secondary">
                    Redeem
                  </button>
                </div>
              </div>
            </form>
            
          </div>
          
          <div class="col-md-8 order-1">
            <h4 class="mb-3">Billing Address</h4>
            <div class="row">
              <div class="col mb-4">
                <label for="First name"> First Name </label>
                <input type="text" class="form-control" placeholder="First name" aria-label="First name" name="FirstName">
              </div>
              <div class="col mb-4">
                <label for="Last name"> Last Name </label>
                <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" name="LastName">
              </div>
            </div>
            
            <div class="mb-4">
              <label for="email">Email </label>
              <input type="text" class="form-control" placeholder="you@example.com" aria-label="email" name="EmailAddress">
          </div>
            
            <div class="mb-4">
              <label for="Address">Address</label>
              <input type="text" class="form-control" placeholder="1234 Main St" aria-label="Address" name="Line1">
            </div>
            
            <div class="mb-4">
              <label for="Address2">Address 2 </label>
              <input type="text" class="form-control" placeholder="Appartment or suite" aria-label="Address2" name="Line2">
            </div>
            
            <div class="row">
              <div class="col">
                <label for="country">Country</label>
                <select class="form-select" name="CountryCode">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
              </div>
              <div class="col">
                <label for="state">State</label>
                <select class="form-select" name="State">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
              </div>
              <div class="col mb-4">
                <label for="zip">Zip Code</label>
                <input type="text" class="form-control" aria-label="zip">
              </div>
              
              
              <hr class="mb-4">
              
              <h4 class="mb-3">Payment Details</h4>

              
              <div class="row">
                <div class="col mb-4">
                  <label for="Card1">
                    Name on card
                  </label>
                  <input type="text" class="form-control"aria-label="card1" name="CardholderName">
                  <small class="text-muted">
                    Full name, as displayed on the card
                  </small>
                </div>
                
                <div class="col mb-4">
                  <label for="Card2">
                    Credit card Number
                  </label>
                  <input type="text" class="form-control" placeholder="1234-5678-9012" aria-label="Card2" name="CardPan">
                </div>
              </div>
              
              <div class="row">
                <div class="col mb-3">
                  <label for="Card3">
                    Expiry Date
                  </label>
                  <input type="text" class="form-control"aria-label="card3" placeholder="MMYY" name="CardExpiration">
                </div>
                
                <div class="col mb-3">
                  <label for="Card4">
                    CVV
                  </label>
                  <input type="password" class="form-control"  aria-label="Card4" name="CardCvv" autocomplete="off">
                </div>
              </div>
              
            </div>
          
          <hr class="mb-4">
          
          <div class="d-grid gap-2">
            <button class="btn btn-primary btn-lg" type="submit">
              Continue to Checkout
            </button>
          </div>
          
        </div>
     
    </div>
  </div>
      </form>
    </div>
  </div>
</div>

<script>
  

  function populateServices() {
  // Make an AJAX request to fetch services from the server
  fetch('/api/services')
    .then(response => response.json())
    .then(data => {
      // Populate the service selection dropdown menu with the retrieved data
      var serviceSelect = document.getElementById('serviceSelect');
      serviceSelect.innerHTML = '<option value="" disabled selected>Select Service</option>';
      data.forEach(service => {
        var option = document.createElement('option');
        option.value = service.service_id;
        option.text = service.name + ' - $' + service.price.toFixed(2); // Display service name and price
        serviceSelect.appendChild(option);
      });
    })
    .catch(error => {
      console.error('Error fetching services:', error);
    });
}
  // Function to show the next step and populate subcategories if needed
  function nextStep() {
    var selectedService = document.getElementById('serviceSelect').value;
    if (selectedService === '') {
      alert('Please select a service.');
      return;
    }

    // Fetch subcategories data from the server based on the selected service
    // const response = await fetch(`/api/services/${selectedService}/subcategories`);
    //console.log('response', response);
    //const subcategoriesData = await response.json();

    // Populate subcategories dropdown menu
    //var subcategorySelect = document.getElementById('subcategorySelect');
    //subcategorySelect.innerHTML = '<option value="" disabled selected>Select Subcategory</option>';
    //subcategoriesData.forEach(subcategory => {
      //var option = document.createElement('option');
      //option.value = subcategory.subcategory_id;
      //option.text = subcategory.name;
      //subcategorySelect.appendChild(option);
    //});

    // Show the subcategories section
    document.getElementById('subcategories').classList.remove('d-none');
  

    // Hide step 1 and show step 2
    document.getElementById('step1Form').classList.add('d-none');
    document.getElementById('step2').classList.remove('d-none');
  }

  // populateServices();

</script>