<div class="container">
    <h1>Payment Confirmation</h1>
    {{#if paymentResponse.Approved}}
        <p>Transaction Approved</p>
        <p>Authorization Code: {{paymentResponse.AuthorizationCode}}</p>
        <!-- Other payment completion data -->
    {{else}}
        <p>Transaction Declined</p>
        <p>Error Message: {{paymentResponse.ResponseMessage}}</p>
    {{/if}}
</div>