<!-- Step 1: Introduction Page -->
<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
        <div class="content">
            <p class="pb-4">
                Welcome to our Payment Gateway!<br> Trust us for secure transactions with the Jamaica Observer Limited.
            </p>
        </div>
      <form id="step1Form" class="pb-5" method="post" action="/en/checkout">
           <div class="">
        <div class="section-title">
          <h2>Please select a payment category below</h2>
        </div>
      </div>
        <div class="mb-3 py-1">
          <select class="form-select" id="category" name="category" required>
            <option value="" selected>Select Service</option>
             {{#each categories}}
                <option value="{{ this.dataValues.categoryId }}">{{ this.dataValues.name }}</option>
            {{/each}}
          </select>
          
        </div>
        <input id="categoryName" name="categoryName" type="hidden">
          <input id="currencyhd" name="currencyhd" type="hidden" />
            <input id="otherInfohd" name="otherInfo" type="hidden" />
            <input id="totalAmount" name="totalAmount" type="hidden" />
            <input id="count" name="count" type="hidden" />

        <div id="categoryList" class="mb-3 py-3" style="display: none;">
            <div class="section-title">
          <h2>Please select the service you want to pay for</h2>
            <input id="serviceText" name="serviceText" type="hidden" />
            <input id="description" name="description" type="hidden" />
            

        </div>
            <div id="serviceOptions"></div>
        </div>
        <button type="submit" class="btn btn-danger" >Next Step</button>
      </form>
    </div>
  </div>
</div>
  <!-- Scripts -->
<script src="/assets/js/jquery-3.7.1.min.js"></script>
{{> en/scripts }}
