<dic class="container">
    <h1>Edit User {{user_id}}</h1>

<form action="/admin/users/{{user_id}}" method="post">
  <input type="hidden" name="_method" value="PUT">

  <label for="username">Username:</label>
  <input type="text" name="username" value="{{username}}" required>

  <label for="email">Email:</label>
  <input type="email" name="email" value="{{email}}" required>

  <input type="submit" value="Update">
</form>
</dic>