<div class="container">
  <a href="/admin/users/create">Add User</a>
    <h4>Users List</h4>

<ul>
  {{#each users}}
  <li>
    <a href="/admin/users/{{dataValues.userId}}">{{dataValues.username}}</a>
  </li>
  {{/each}}
</ul>
</div>

